@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
  .sidebar-items {
    margin-bottom: 0 !important;
  }
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover svg {
  color: #B57295;
}

.sidebar-items:hover p {
  color: #fff;
}

.active {
  color: #fff;
}

.active-icon {
  color: #B57295 !important;
}